<!-- BEGIN unprocessed -->
<h3>{H_UNPROCESSED} ({NUMBER_UNPROCESSED}):</h3>
<table style="margin-left:10px;width:100%">
    <tr style="font-weight: bold;border-bottom:1px solid rgba(0, 0, 0, .1);opacity:0.5">
        <th>{LBL_LOGIN}</th>
        <th>{LBL_REASON}</th>
        <th>{LBL_POINTS}</th>
        <th>{LBL_COMMENT}</th>
    </tr>
    <!-- BEGIN unprocessed_line -->
    <tr>
        <td style="width:10%">
            {LOGIN}
        </td>
        <td style="width:20%">
                {ERROR}
            </td>
        <td style="width:10%">
            {POINTS}
        </td>
        <td>
            <textarea readonly style="max-height:50px;overflow:scroll-y;width:100%;font-family: 'Courier New', Courier, monospace">{COMMENT}</textarea>
        </td>
    </tr>
    <!-- END unprocessed_line -->
</table>
<!-- END unprocessed -->

<!-- BEGIN invalid -->
<h3>{H_INVALID} ({NUMBER_INVALID}):</h3>
<table style="margin-left:10px;width:100%">
    <tr style="font-weight: bold;border-bottom:1px solid rgba(0, 0, 0, .1);opacity:0.5">
        <th>{LBL_LOGIN}</th>
        <th>{LBL_CONTENT}</th>
    </tr>
    <!-- BEGIN invalid_line -->
    <tr>
        <td style="width:10%">
            {LOGIN}
        </td>
        <td>
            <textarea readonly style="max-height:50px;overflow:scroll-y;width:100%;font-family: 'Courier New', Courier, monospace">{CONTENT}</textarea>
        </td>
    </tr>
    <!-- END invalid_line -->
</table>
<!-- END invalid -->

<!-- BEGIN wrongtest -->
<h3>{H_OTHER_TEST} ({NUMBER_WRONG}):</h3>
<table style="margin-left:10px;width:100%">
    <tr style="font-weight: bold;border-bottom:1px solid rgba(0, 0, 0, .1);opacity:0.5">
        <th>{LBL_LOGIN}</th>
        <th>{LBL_TESTID}</th>
    </tr>
    <!-- BEGIN wrongtest_line -->
    <tr>
        <td style="width:10%">
            {LOGIN}
        </td>
        <td style="width:10%">
            {TEST_ID}
        </td>
    </tr>
    <!-- END wrongtest_line -->
</table>
<!-- END wrongtest -->