<h1>EST Integration</h1>

<b>Number of Participants:</b> {PARTICIPANT_COUNT}

<div id="exporting">
    <h3>EST Zip</h3>
    <p>Generate an EST-Formated export containing all Source-Code Questions of this Test.</p>
    <a href="{LINK_ZIP}">Download EST-Export</a>
    <h3>Latex Zip</h3>
    <p>Generate an Latex-Formated export containing all Source-Code Questions of this Test.</p>
    <a href="{LINK_LATEXZIP}">Download Latex-Export</a>
</div>

<div id="importing">
    <p>Upload an EST-Formated export and read the results from the content.</p>
    
    {FILE_UPLOAD}
</div>