<h1>{TITLE}</h1>

<b>{P_COUNT}:</b> {PARTICIPANT_COUNT}

<div id="exporting" class="card">
    <div class="card-body">
        <h3 class="card-title">{H_ARCH}</h3>
        <p class="card-text">{TXT_ARCH}</p>
        <form action="{LINK_ZIP}" method="post">  
            <div>
                <input type="checkbox" name="ignoreEmpty" value="1" style="margin-bottom:4px" /> <b>{IGNORE_EMPTY_TEXT}</b><br>
                <input type="checkbox" name="autoFileName" value="1" style="margin-bottom:32px" checked selected /> <b>{USE_AUTO_FILE}</b>
            </div>              
            <button class="btn btn-default" type="submit">{DNL_ARCH}</button> 
            
        </form>
    </div>
</div>
<!-- <div id="exportingTex">
    <h3>{H_TEX}</h3>
    <p>{TXT_TEX}</p>
    <a href="{LINK_LATEXZIP}">{DNL_TEX}</a>
</div> -->

<div id="importing">
    <h3>{H_UPLOAD}</h3>
    <p>{TXT_UPLOAD}</p>
    
    {FILE_UPLOAD}
</div>